
<footer class="page-footer font-small footer-purple mt-5">
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <%= link_to 'Oleksandr Kirpachov', "https://github.com/OlecsandrKirpa", class:"nav-link" %>
  </div>
</footer>