<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to 'Oleksandr Kirpachov', "https://github.com/OlecsandrKirpa", class:"nav-link" %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->