<%= render 'home/index_first' %>

<p>I'm not sure, but your ip should be 

 <input class="form-control" id="ip", value="<%=@ip %>">

<button style="padding:4px!important;" id="copyIp" class="btn">Copy</button></p>
<p><%=@date %></p>
<p><%=@hours %> UTC</p>

<script>
document.getElementById("copyIp").onclick = function () {
var clientIp = document.getElementById("ip");
  clientIp.select();
  clientIp.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");
  console.log("You ip->"+clientIp.value)
}
</script>