<div class="row">
    <%= link_to image_tag("icons/normal-size/arrow-left.svg", :alt => "rss feed", :class => "navbar-ico m-2 left-arrow rounded-circle"), :back %>
    <h1>New post</h1>
</div>
<%= render 'form', post: @post %>